<!-- views/shared/head.ejs -->

<meta charset="UTF-8">
<title>Trade App</title>

<link rel="stylesheet" href="css/library/bootstrap.min.css">
<link rel="stylesheet" href="css/library/jquery-ui.min.css">
<link rel="stylesheet" href="css/main.css">
