<div id="insert">
	<form action="#" method="POST" enctype="application/x-www-form-urlencoded">
		<div class="form-group">
			<label for="userId">User Id</label>
			<input type="text" class="form-control" name="userId" id="userId" value="" required />
		</div>
		<div class="form-group">
			<label for="currencyFrom">Currency From</label>
			<input type="text" class="form-control" name="currencyFrom" id="currencyFrom" value="" required />
		</div>
		<div class="form-group">
			<label for="currencyTo">Currency To</label>
			<input type="text" class="form-control" name="currencyTo" id="currencyTo" value="" required />
		</div>
		<div class="form-group">
			<label for="amountSell">Amount Sell</label>
			<input type="text" class="form-control" name="amountSell" id="amountSell" value="" required />
		</div>
		<div class="form-group">
			<label for="amountBuy">Amount Buy</label>
			<input type="text" class="form-control" name="amountBuy" id="amountBuy" value="" required />
		</div>
		<div class="form-group">
			<label for="rate">Rate</label>
			<input type="text" class="form-control" name="rate" id="rate" value="" required />
		</div>
		<div class="form-group">
			<label for="timePlaced">Time Placed</label>
			<input type="text" class="form-control" name="timePlaced" id="timePlaced" value="" required />
		</div>
		<div class="form-group">
			<label for="originatingCountry">Originating Country</label>
			<input type="text" class="form-control" name="originatingCountry" id="originatingCountry" value="" required />
		</div>
		<button type="button" class="btn btn-default insert-tx">Insert Transaction</button>
	</form>
</div>
