<div id="stats">
	<div class="filters-wrapper">
		<div class="currency-filter">
			Currency From:
			<select class="select-currency-from">
				<option value="0">Select currency</option>
			</select>
		</div>
		<div class="currency-filter">
			Currency To:
			<select class="select-currency-to">
				<option value="0">Select currency</option>
			</select>
		</div>
	</div>
	<div class="currency-stats-wrapper">
		
	</div>
</div>